// service cards
.service-cards {
  column-gap: 20px !important;
  margin-bottom: 0px;
}
.service-card {
  margin-top: 10px;
  max-height: 485px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  p {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .service-card-details {
    background-color: rgba(4, 25, 37, 0.9);
    color: #fff;
    padding: 30px 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(100% - 88px));
    transition: all 0.3s ease-in-out;
    .service-card-title {
      font-family: "Poppins";
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 30px;
      transition: all 0.3s ease-in-out;
    }
    &.show {
      transform: translateY(0) !important;
      .service-card-title {
        margin-bottom: 10px;
      }
    }
  }
  .service-card-image {
    margin-bottom: 0px;
    width: 100%;
    img {
      width: 100%;
      max-height: 485px;
      object-fit: cover;
    }
  }

  .link-with-icon {
    font-size: 16px;
    line-height: 140%;
    margin-top: 20px;
    a {
      color: #f48e0c;
    }
    .icon {
      svg {
        path {
          stroke: #f48e0c;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .service-cards {
    flex-direction: column;
    row-gap: 30px !important;
  }
  .service-card {
    max-height: 371px;
    max-width: 374px;
    margin: auto;
    .service-card-details {
      padding: 20px;
      p {
        font-size: 14px;
      }
      .service-card-title {
        font-size: 18px;
        margin-bottom: 20px;
      }
    }
    .link-with-icon {
      margin-top: 30px;
    }
    .service-card-image {
      img {
        max-height: 371px;
      }
    }
  }
}
@media (max-width: 575.98px) {
  .service-card {
    max-width: 100%;
  }
}
// portfolio cards
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 20px;
  grid-gap: 30px 20px;
  @media (min-width: 992px) {
    .portfolio-card {
      width: calc((100% / 4) - 15px);
    }
  }
  @media (max-width: 991.98px) {
    flex-direction: column;
  }
}
.portfolio-card {
  position: relative;
  &:before {
    content: "";
    height: 100%;
    width: 100%;
    background: #041925;
    opacity: 0.5;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  &:after {
    content: "";
    height: 40px;
    width: 40px;
    position: absolute;
    background-image: url(../images/plus-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
  }
  &::before,
  &::after {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  cursor: pointer;
  &__wraper {
    .card-image {
      max-height: 330px;
      height: 330px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .card-content {
      padding: 20px;
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      &:after {
        content: "";
        height: 100%;
        width: 100%;
        background: #041925;
        opacity: 0.8;
        position: absolute;
        left: 0px;
        top: 0px;
      }
      &__wraper {
        .card-title {
          font-weight: 600;
          font-size: 16px;
          line-height: 140%;
          color: #ffffff;
          position: relative;
          z-index: 1;
          margin-bottom: 0px;
        }
      }
    }
  }
  @media (min-width: 992px) {
    &:hover {
      &::before {
        opacity: 0.5;
      }
      &::after {
        opacity: 1;
      }
    }
  }
  @media (max-width: 991.98px) {
    min-width: 374px;
    max-width: 100%;
    margin: auto;
    &:after {
      opacity: 1;
      background-image: url(../images/show-more.svg);
      top: 10px;
      left: auto;
      right: 10px;
    }
    &__wraper {
      .card-image {
        max-height: 260px;
      }
    }
  }
  @media (max-width: 575.98px) {
    min-width: 100%;
  }
}

// process cards
.process-card-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  grid-gap: 40px;
  padding: 30px;
  padding-right: 0px;
  p {
    margin-bottom: 0px;
  }
  .process-card {
    margin-bottom: 0px;
  }
  @media (max-width: 991.98px) {
    padding: 0px;
    grid-gap: 20px;
    gap: 20px;
  }
}
.process-card {
  grid-gap: 20px !important;
  gap: 20px !important;
  .wp-block-column {
    &:first-child {
      max-width: 46px;
    }
    &:nth-child(2) {
      flex-basis: auto !important;
      max-width: calc(100% - 66px);
    }
  }
  .card-title {
    margin-bottom: 10px;
  }
  @media (max-width: 991.98px) {
    border: 1px solid #eeeeee;
    padding: 16px;
    .card-title {
      @include h4-semi(600);
    }
  }
}

// default card
.dd-card-list {
  display: grid;
  overflow: hidden;
  grid-gap: 20px;
  .dd-card {
    overflow: hidden;
    &__wraper {
      .card-image {
        position: relative;
        height: 240px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &:before {
          content: "";
          height: 100%;
          width: 100%;
          background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
          );
          position: absolute;
          left: 0px;
          top: 0px;
        }
        .play-button {
          width: 68px;
          height: 68px;
          background-image: url(../images/play-icon.svg);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          display: block;
          position: absolute;
          top: calc(50% - 32px);
          left: calc(50% - 32px);
        }
      }
      .card-content {
        background: #041925;
        padding: 20px;
        color: #ffffff;
        p {
          margin-bottom: 0px;
        }
      }
    }
  }
  @media (min-width: 768px){
    grid-template-columns: 1fr 1fr 1fr;
  }
}
