// service cards
.service-cards {
  column-gap: 20px !important;
  margin-bottom: 0px;
}
.service-card {
  margin-top: 0px;
  max-height: 400px;
  overflow: hidden;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 204px;
    height: 204px;
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
    left: -15%;
    top: -10%;
  }
  &.india {
    &:before {
      background-image: url(../images/india-symbol.svg);
    }
  }
  &.europe {
    &:before {
      background-image: url(../images/europe-symbol.svg);
    }
  }
  &.worldwide {
    &:before {
      background-image: url(../images/world-symbol.svg);
    }
  }
  .circle-arrow {
    position: absolute;
    height: 60px;
    width: 60px;
    background-image: url(../images/right-arrow-circle.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0px;
    right: 30px;
    bottom: 40px;
    display: flex;
    a {
      background-color: transparent !important;
      font-size: 0px;
      height: 100%;
      width: 100%;
      padding: 0px;
      margin: 0px;
      box-shadow: none !important;
    }
    @media (max-width: 992px) {
      bottom: 30px;
    }
  }
  p {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .service-card-details {
    color: #fff;
    padding: 30px;
    padding-bottom: 40px;
    padding-right: 100px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    .service-card-title {
      //display: inline-flex;
      @include h3(600);
      margin-bottom: 0px;
      text-decoration: underline;
      text-underline-offset: 7px;
      text-decoration-thickness: 1px;
      text-decoration-color: #041925;
      transition: all 0.2s ease-in-out;
      /* position: relative;
      &:after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: #fff;
        position: absolute;
        left: 0;
        bottom: -3px;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s ease-out;
      } */
    }
  }
  .service-card-image {
    margin-bottom: 0px;
    width: 100%;
    position: relative;
    &:before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      background: linear-gradient(
          116.5deg,
          rgba(0, 0, 0, 0.4) 13.92%,
          rgba(0, 0, 0, 0) 82.49%
        ),
        linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 29.52%,
          rgba(0, 0, 0, 0.6) 94.79%
        ),
        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    }
    img {
      width: 100%;
      max-height: 400px;
      object-fit: cover;
    }
  }
  .section-heading {
    margin-bottom: 30px;
  }
  .link-with-icon {
    font-size: 16px;
    line-height: 140%;
    margin-top: 20px;
    a {
      color: #f48e0c;
    }
    .icon {
      svg {
        path {
          stroke: #f48e0c;
        }
      }
    }
  }
}
.service-card-outer-wrap {
  cursor: pointer;
}
@media (min-width: 768px) {
  .service-card {
    &:hover {
      .service-card-details {
        .service-card-title {
          text-decoration-color: #ffffff;
          /* &:after {
              transform: scaleX(1);
              transform-origin: bottom left;
            } */
        }
      }
    }
  }
}
@media (max-width: 991.98px) {
  .service-cards {
    flex-direction: column;
    row-gap: 20px !important;
  }
  .service-card {
    max-height: 371px;
    max-width: 374px;
    margin: auto;
    .service-card-details {
      padding: 30px;
      p {
        font-size: 14px;
      }
      .service-card-title {
        @include h3(600);
      }
    }
    .link-with-icon {
      margin-top: 30px;
    }
    .service-card-image {
      img {
        max-height: 371px;
      }
    }
  }
}
@media (max-width: 575.98px) {
  .service-card {
    max-width: 100%;
  }
}
// portfolio cards
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 20px;
  grid-gap: 30px 20px;
  @media (min-width: 992px) {
    .portfolio-card {
      width: calc((100% / 4) - 15px);
    }
  }
  @media (max-width: 991.98px) {
    flex-direction: column;
  }
}
.portfolio-card {
  position: relative;
  &:before {
    content: "";
    height: 100%;
    width: 100%;
    background: #041925;
    opacity: 0.5;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  &:after {
    content: "";
    height: 40px;
    width: 40px;
    position: absolute;
    background-image: url(../images/plus-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
  }
  &::before,
  &::after {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  cursor: pointer;
  &__wraper {
    .card-image {
      max-height: 330px;
      height: 330px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .card-content {
      padding: 20px;
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      &:after {
        content: "";
        height: 100%;
        width: 100%;
        background: #041925;
        opacity: 0.8;
        position: absolute;
        left: 0px;
        top: 0px;
      }
      &__wraper {
        .card-title {
          font-weight: 600;
          font-size: 16px;
          line-height: 140%;
          color: #ffffff;
          position: relative;
          z-index: 1;
          margin-bottom: 0px;
        }
      }
    }
  }
  @media (min-width: 992px) {
    &:hover {
      &::before {
        opacity: 0.5;
      }
      &::after {
        opacity: 1;
      }
    }
  }
  @media (max-width: 991.98px) {
    min-width: 374px;
    max-width: 100%;
    margin: auto;
    &:after {
      opacity: 1;
      background-image: url(../images/show-more.svg);
      top: 10px;
      left: auto;
      right: 10px;
    }
    &__wraper {
      .card-image {
        max-height: 260px;
      }
    }
  }
  @media (max-width: 575.98px) {
    min-width: 100%;
  }
}

// process cards
.process-card-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  grid-gap: 40px;
  padding: 30px;
  padding-right: 0px;
  p {
    margin-bottom: 0px;
  }
  .process-card {
    margin-bottom: 0px;
  }
  @media (max-width: 991.98px) {
    padding: 0px;
    grid-gap: 20px;
    gap: 20px;
  }
}
.process-card {
  grid-gap: 20px !important;
  gap: 20px !important;
  .wp-block-column {
    &:first-child {
      max-width: 46px;
    }
    &:nth-child(2) {
      flex-basis: auto !important;
      max-width: calc(100% - 66px);
    }
  }
  .card-title {
    margin-bottom: 10px;
  }
  @media (max-width: 991.98px) {
    border: 1px solid #eeeeee;
    padding: 16px;
    .card-title {
      @include h4(600);
    }
  }
}

// default card
.dd-card-list {
  display: grid;
  overflow: hidden;
  grid-gap: 20px;
  .dd-card {
    overflow: hidden;
    .card-link {
      color: inherit !important;
      text-decoration: none !important;
    }
    &__wraper {
      position: relative;
      .card-image {
        position: relative;
        height: 240px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &:before {
          content: "";
          height: 100%;
          width: 100%;
          background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
          );
          position: absolute;
          left: 0px;
          top: 0px;
        }
        .play-button {
          width: 68px;
          height: 68px;
          background-image: url(../images/play-icon.svg);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          display: block;
          position: absolute;
          top: calc(50% - 32px);
          left: calc(50% - 32px);
        }
      }
      .card-content {
        background: #041925;
        padding: 20px;
        color: #ffffff;
        p {
          margin-bottom: 0px;
        }
        .card-title {
          min-height: 50.4px;
          @include h4(400);
          text-decoration: underline;
          text-underline-offset: 7px;
          text-decoration-thickness: 1px;
          text-decoration-color: transparent;
          transition: all 0.2s ease-in-out;
        }
        .post-details {
          .icon{
            svg{
              path{
                fill: #fff;
              }
            }
          }
          p{
            &:not(:last-child){
              &:after{
                background-color: #fff;
              }
            }
          }
        }
        .link-with-icon {
          a {
            color: #f48e0c;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            text-transform: uppercase;
            &:after {
              background-color: #f48e0c;
            }
          }
          .icon {
            svg {
              path {
                stroke: #f48e0c;
              }
            }
          }
        }
      }
    }
    cursor: pointer;
    &:hover {
      .dd-card__wraper {
        .card-content {
          .card-title {
            text-decoration-color: #ffffff !important;
          }
          .link-with-icon {
            a {
              &:after {
                transform: scaleX(1);
                transform-origin: bottom left;
              }
            }
          }
        }
      }
    }
    &.post-card {
      .dd-card__wraper {
        .card-image {
          height: 400px;
          &:before {
            display: none;
          }
        }
        .card-content {
          background: transparent;
          position: absolute;
          bottom: 0px;
          width: 100%;
          &:before {
            content: "";
            height: 100%;
            width: 100%;
            background: #041925;
            opacity: 0.8;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 0;
          }
          .card-content__wraper {
            position: relative;
            z-index: 1;
          }
        }
      }
    }
  }
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (max-width: 767.98px) {
    .dd-card {
      &.video-card {
        .dd-card__wraper {
          display: grid;
          grid-template-columns: 1fr 1.3fr;
          .card-title {
            @include label(600);
          }
          .card-image {
            max-height: 120px;
            .play-button {
              height: 48px;
              width: 48px;
              top: calc(50% - 24px);
              left: calc(50% - 24px);
            }
          }
          .card-content {
            padding: 10px;
          }
        }
      }
      &.post-card {
        .dd-card__wraper {
          .card-image {
            height: 370px;
          }
          .post-details {
            margin-top: 8px;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
