//social links widget
.social-links {
  margin-left: 30px;
  display: flex;
  align-items: center;
  margin-left: 0px;
  .social-link {
    margin-bottom: 0px;
    &:not(:last-child) {
      margin-right: 10px;
    }
    a {
      display: flex;
      &:after {
        content: none;
      }
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
.link-with-icon {
  display: inline-flex;
  align-items: center;
  a {
    text-decoration: underline;
    text-underline-offset: 0.2em;
    color: #2471b5;
    font-weight: 500;
    font-size: inherit;
    line-height: inherit;
    display: inline-flex;
    align-items: center;
  }
  .icon {
    margin-left: 6px;
    display: inline-flex;
    align-items: center;
  }
}
.wp-block-genesis-blocks-gb-columns {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
  p {
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 0px;
  }
  .section-heading {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 30px;
    font-family: "Poppins";
  }
  .gb-block-layout-column-inner {
    padding-bottom: 0px !important;
  }
}
.gb-has-custom-background-color .gb-layout-column-wrap{
  max-width: 1220px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.align-right {
  text-align: right;
}
.stopScroll{
  overflow: hidden !important;
}
.positionStatic{
  position: static !important;
}
// sliders
.dd-slider-arrow {
  position: absolute;
  top: calc(50% - 32px);
  z-index: 1;
  height: 64px;
  width: 64px;
  border: 1px solid #2471B5;
  border-width: 1px !important;
  outline: none !important;
  border-radius: 100%;
  padding: 0;
  margin: 0;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  &.dd-prev{
    left: -32px;
    background: #2471B5;
    border-color: #FFFFFF;
  }
  &.dd-next{
    right: -32px;
    background: #FFFFFF;
    border-color: #2471B5;
  }
  @media (min-width:768px){
    &:hover{
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &.dd-prev:hover{
      border-color: #2471B5;
    }
    &.dd-next:hover{
      border-color: #FFFFFF;
    }
  }
}
.dd-slider-dots{
  .slick-dots {
    margin: 20px auto 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 8px;
    gap: 8px;
    li{
      list-style-type: none;
      display: flex;
      button{
        font-size: 0px;
        padding: 0;
        margin: 0;
        background: #FFFFFF;
        height: 8px;
        width: 8px;
        opacity: 0.5;
        transition: all 0.2s ease-in;
      }
      &.slick-active{
        button{
          opacity: 1;
          width: 50px;
        }
      }
    }
  }
}
.slick-slide{
  outline: none !important;
}
@media only screen and (min-width: 960px) {
  .full-width-content {
    .entry-content {
/*       & > .alignwide {
        margin-left: calc(-206.5px - 20px) !important;
        margin-right: calc(-206.5px - 20px) !important;
        max-width: calc((100% + 40px) + (413px + 40px)) !important;
        padding-left: 20px;
        padding-right: 20px;
        &.alignsmall {
          margin-left: calc(-6.5px - 20px) !important;
          margin-right: calc(-6.5px - 20px) !important;
          max-width: calc((100% + 40px) + (13px + 40px)) !important;
        }
      } */
      & > .alignwide {
        /* margin-left: -206.5px !important;
        margin-right: -206.5px !important;
        max-width: calc(100% + 413px) !important; */
        &.alignsmall {
          margin-left: -6.5px;
          margin-right: -6.5px;
          max-width: calc(100% + 13px);
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .wp-block-genesis-blocks-gb-columns {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
    p {
      font-size: 16px;
    }
    .section-heading {
      font-size: 24px !important;
      line-height: 28px !important;
      margin-bottom: 20px;
    }
  }
}
@media (max-width: 575.98px) {
  .link-with-icon {
    display: flex;
    margin-top: 20px;
  }
  .text-left-mob {
    text-align: left;
    p {
      text-align: left;
    }
  }
}
