//social links widget
.social-links {
  margin-left: 30px;
  display: flex;
  align-items: center;
  margin-left: 0px;
  .social-link {
    margin-bottom: 0px;
    &:not(:last-child) {
      margin-right: 10px;
    }
    a {
      display: flex;
      &:after {
        content: none;
      }
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
.link-with-icon {
  display: inline-flex;
  align-items: center;
  a {
    text-decoration: none;
    color: #2471b5;
    font-weight: 500;
    font-size: inherit;
    line-height: inherit;
  }
  .icon {
    margin-left: 10px;
  }
}
.wp-block-genesis-blocks-gb-columns {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
  p {
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 0px;
  }
  .section-heading {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 30px;
    font-family: "Poppins";
  }
  .gb-block-layout-column-inner {
    padding-bottom: 0px !important;
  }
}
.gb-has-custom-background-color .gb-layout-column-wrap{
  max-width: 1220px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 960px) {
  .full-width-content {
    .entry-content {
      & > .alignwide {
        &.alignsmall {
          margin-left: -6.5px;
          margin-right: -6.5px;
          max-width: calc(100% + 13px);
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .wp-block-genesis-blocks-gb-columns {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
    p {
      font-size: 16px;
    }
    .section-heading {
      font-size: 24px !important;
      line-height: 28px !important;
      margin-bottom: 20px;
    }
  }
}
@media (max-width: 575.98px) {
  .link-with-icon {
    display: flex;
    margin-top: 20px;
  }
  .text-left-mob {
    text-align: left;
    p {
      text-align: left;
    }
  }
}
