.dd-popup {
  display: none;
  z-index: 10000;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  &.opened {
    overflow-x: hidden;
    overflow-y: auto;
  }
  &__wraper {
    display: flex;
    height: auto;
    justify-content: center;
    width: calc(100% - 40px);
    margin: 95px auto 40px;
    max-width: 1062px;
  }
  &-content {
    width: 100%;
    height: 100%;
  }
  &-header {
    display: flex;
    justify-content: flex-end;
    position: relative;
    .dd-close {
      height: 40px;
      width: 40px;
      background-image: url(../images/close.svg);
      display: inline-flex;
      overflow: hidden;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      right: -40px;
      top: -40px;
      z-index: 1;
    }
  }
  &-body {
    &__wraper {
      box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.4);
      min-height: 100px;
    }
  }
  @media (max-width: 767.98px) {
    &-header {
      .dd-close {
        right: 0px;
        margin-bottom: 16px;
        position: static;
      }
    }
  }
}
.dd-overlay {
  background: #000000;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
  opacity: 0.7;
  display: none;
}

//portfolio gallery popup
.portfolio-popup {
  .dd-popup__wraper {
    width: calc(100% - 104px);
  }
  .portfolio-details {
    background: #ffffff;
    padding: 20px 30px;
    position: relative;
    &:before {
      content: "";
      height: 4px;
      width: 100%;
      background: #2471b5;
      position: absolute;
      top: -4px;
      left: 0px;
    }
    &__wraper {
      display: flex;
      gap: 20px;
      grid-gap: 20px;
    }
  }
  .portfolio-title {
    margin-bottom: 8px;
  }
  .portfolio-info-list {
    display: flex;
    gap: 30px;
    grid-gap: 30px;
    align-items: center;
    padding: 0px;
    margin: 0px;
    li {
      list-style-type: none;
      display: flex;
      align-items: center;
      grid-gap: 10px;
      gap: 10px;
    }
  }
  @media (min-width: 768px){
    .portfolio-details{
      justify-content: space-between;
      &__wraper{
        .portfolio-info, .portfolio-slider-thumbnails{
          width: 50%;
        }
      }
    }
  }
  @media (max-width: 768.98px) {
    .dd-popup__wraper {
      width: calc(100% - 40px);
    }
    .portfolio-details {
      padding: 20px;
      &__wraper {
        grid-template-columns: 1fr;
      }
    }
    .portfolio-title {
      @include h4-med-500;
      margin-bottom: 10px;
    }
    .portfolio-slider-thumbnails {
      position: absolute;
      top: -50px;
      background: rgba($color: #ffffff, $alpha: 0.95);
      padding: 6px 10px;
      width: 100%;
      left: 0px;
      height: 48px;
    }
    .portfolio-info-list {
      gap: 16px;
      grid-gap: 16px;
      li {
        grid-gap: 4px;
        gap: 4px;
        width: 50%;
      }
    }
  }
}
