//post
.post-template-default {
  &.single {
    .hero-banner {
      padding-bottom: 100px;
      padding-top: 320px;
      margin-bottom: 20px !important;
    }
    .banner-heading {
      max-width: 559px;
    }
    .post-details {
      color: #fff;
      display: flex;
      align-items: center;
      @include body(500);
      p {
        display: flex;
        align-items: center;
        gap: 10px;
        &:not(:last-child) {
          padding-right: 20px;
          position: relative;
          &:after {
            content: "";
            height: 19px;
            width: 1px;
            background-color: #ffffff;
            position: absolute;
            right: -1.5px;
          }
        }
        &:not(:first-child) {
          padding-left: 20px;
        }
        .icon {
          width: 24px;
          height: 24px;
        }
      }
    }
    .post-content {
      max-width: 980px;
      margin: auto;
      .wp-block-columns {
        gap: 20px 40px;
        margin-bottom: 40px;
      }
      p {
        font-family: $montserrat;
        font-weight: 400;
        font-size: 16px;
        line-height: 180%;
        letter-spacing: 0.5px;
        color: #041925;
      }
      h1 {
        @include h1(500);
      }
      h2 {
        @include h2(500);
      }
      h3 {
        @include h3(500);
        margin-bottom: 20px;
      }
      h4 {
        @include h4(500);
      }
      .dd-caption {
        color: #818c92;
        @include label(400);
        margin-bottom: 40px;
      }
      .wp-block-image {
        margin-bottom: 0px;
        figcaption {
          margin: 10px 0px 0px;
          @include label(400);
          color: #818c92;
        }
      }
      .list-title {
        font-family: $montserrat;
        font-weight: 600;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0.1px;
        color: #041925;
        margin-bottom: 6px;
        strong {
          font-weight: 600;
        }
      }
      ul:not(.slick-dots) {
        padding-left: 0px;
        margin-bottom: 0px;
        li {
          font-family: $montserrat;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 160%;
          letter-spacing: 0.1px;
          color: #041925;
          padding-left: 30px;
          position: relative;
          &::marker {
            font-size: 0px;
          }
          &:before {
            content: "";
            height: 3px;
            width: 3px;
            border-radius: 6px;
            background-color: #041925;
            position: absolute;
            left: 12.5px;
            top: 10.5px;
          }
        }
      }
      .lists-column {
        gap: 0px;
        .wp-block-column {
          &:not(:last-child) {
            padding-right: 20px;
            border-right: 1px solid #eeeeee;
          }
          &:not(:first-child) {
            padding-left: 20px;
          }
        }
      }
    }
  }
  @media (max-width: 767.98px) {
    &.single {
      .hero-banner {
        padding-top: 252px;
        padding-bottom: 30px;
        margin-bottom: 16px !important;
        .separator-horizontal-orange {
          margin: 30px 0 20px !important;
        }
      }
      .post-details {
        p {
          &:not(:last-child) {
            padding-right: 16px;
          }
          .icon {
            width: 20px;
            height: 20px;
          }
        }
      }
      .post-content {
        .lists-column {
          gap: 20px;
          .wp-block-column {
            &:not(:last-child) {
              padding-right: 0px;
              border-right: none;
            }
            &:not(:first-child) {
              padding-left: 0px;
            }
          }
        }
        .dd-caption {
          margin-bottom: 20px;
        }
        .wp-block-image {
          figcaption {
            text-align: left;
          }
        }
        .wp-block-columns {
          margin-bottom: 30px;
          &.order-reverse-mob {
            flex-direction: column-reverse;
          }
        }
        h3 {
          @include h4(600);
          margin-bottom: 10px;
        }
        .mb-40 {
          margin-bottom: 30px !important;
        }
      }
      .bg-image-cta {
        margin-top: 60px !important;
        margin-bottom: 60px !important;
      }
    }
  }
}

// Post Footer
.post-footer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  align-content: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #eeeeee;
  margin-top: 60px;
  margin-bottom: 60px;
  @media (max-width: 767.98px) {
    margin-top: 30px;
    margin-bottom: 30px;
    grid-template-columns: 1fr;
    justify-items: start;
    grid-gap: 30px;
    padding-bottom: 30px;
  }
}

// post share + post tags
.post-tags-container,
.post-share-container {
  display: flex;
  gap: 13px 10px;
  p {
    margin-bottom: 0px;
  }
  .title {
    @include h4(400);
  }
  ul {
    display: flex;
    align-items: center;
    gap: 11px;
    margin-bottom: 0px;
    padding: 0px;
    flex-wrap: wrap;
    li {
      list-style-type: none;
    }
  }
  @media (max-width: 767.98px) {
    flex-direction: column;
    .title {
      @include body(600);
    }
    ul {
      gap: 10px;
    }
  }
}

.post-tags-container {
  .tags {
    .tag {
      background: #ffffff;
      border: 1px solid #eeeeee;
      padding: 2px 8px;
      height: 25px;
      display: flex;
      transition: all 0.2s ease-in-out;
      a {
        @include label(400);
        color: #041925 !important;
        text-decoration: none !important;
        transition: all 0.2s ease-in-out;
      }
      &:hover {
        border-color: #041925;
        a {
          font-weight: 500;
        }
      }
    }
  }
}

.post-share-container {
  justify-content: flex-end;
  .social-share {
    gap: 6px;
    .share {
      .icon {
        height: 24px;
        width: 24px;
        display: block;
        svg {
          height: 100%;
          width: 100%;
          path {
            fill: #2471b5;
            transition: fill 0.2s ease-in-out;
          }
        }
      }
      &:hover {
        .icon {
          svg {
            path {
              fill: #76c8fb;
            }
          }
        }
      }
    }
  }
  @media (min-width: 768px) {
    grid-column: 2 / 3;
  }
  @media (max-width: 767.98px) {
    .social-share {
      gap: 20px;
      .share {
        .icon {
          height: 40px;
          width: 40px;
        }
      }
    }
  }
}

//Related posts
.related-posts {
  .section-heading {
    margin-bottom: 40px;
    font-weight: 500;
  }
  @media (max-width: 767.98px) {
    .section-heading {
      margin-bottom: 20px;
      @include h3(500);
    }
  }
}

// date & time
.post-details {
  @include label(400);
  margin-top: 10px;
  margin-bottom: 9px;
  display: flex;
  align-items: center;
  .icon {
    width: 16px;
    height: 16px;
    display: flex;
    svg {
      height: 100%;
      width: 100%;
      path {
        fill: #041925;
      }
    }
  }
  .post-date,
  .post-reading-time {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  p {
    &:not(:last-child) {
      padding-right: 20px;
      position: relative;
      &:after {
        content: "";
        height: 19px;
        width: 1px;
        background-color: #fff;
        position: absolute;
        right: -1px;
      }
    }
    &:not(:first-child) {
      padding-left: 20px;
    }
  }
}

// pagination
.post-pagination {
  margin-top: 40px;
  margin-bottom: 80px;
  &__wraper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .page-numbers {
      width: 44px;
      height: 44px;
      border: 1px solid #eeeeee;
      display: grid;
      justify-items: center;
      align-items: center;
      text-decoration: none !important;
      outline: none !important;
      color: #2471b5;
      @include body(600);
      transition: all 0.2s ease-in-out;
      svg {
        height: 13px;
        width: 8px;
        path {
          stroke: #2471b5;
          transition: all 0.2s ease-in-out;
          stroke-width: 3px;
        }
      }
      &.next,
      &.prev {
        border-radius: 100%;
      }
      &.current {
        background-color: #2471b5;
        color: #ffffff;
        border-color: #2471b5;
        svg {
          path {
            stroke: #ffffff;
          }
        }
      }
    }
  }
  @media (min-width: 768px) {
    &__wraper {
      .page-numbers {
        &:hover {
          background-color: #2471b5;
          color: #ffffff;
          border-color: #2471b5;
          svg {
            path {
              stroke: #ffffff;
            }
          }
        }
      }
    }
  }
  @media (max-width: 767.98px) {
    margin-bottom: 60px;
  }
}

// post sldier{
.page-template-dd-blogs {
  .dd-post-slider {
    margin-top: -275px;
    position: relative;
    z-index: 1;
  }
  @media (max-width: 768.98px) {
    .dd-post-slider {
      margin-top: -25px;
      .slick-dots {
        margin-top: 0px;
      }
    }
  }
}

// tag archive

.archive {
  .hero-banner {
    min-height: 365px;
    padding-top: 225px;
    padding-bottom: 60px;
    background-position: center;
    &:before {
      background: radial-gradient(
        128.02% 1290.07% at 11.98% 68.28%,
        rgba(0, 0, 0, 0.63) 0%,
        rgba(0, 0, 0, 0) 49.12%,
        rgba(255, 255, 255, 0) 85.85%
      );
    }
    .banner-heading {
      margin-bottom: 30px;
    }
    hr {
      &.separator-horizontal-orange {
        margin-bottom: 0px !important;
      }
    }
  }
  @media (max-width: 767.98px) {
    .hero-banner {
      max-height: 300px;
      min-height: 300px;
      padding-top: 189px;
      padding-bottom: 30px;
      background-position: right;
      &:before {
        background: radial-gradient(
          128.02% 1290.07% at 11.98% 68.28%,
          rgba(0, 0, 0, 0.63) 0%,
          rgba(0, 0, 0, 0) 70.12%,
          rgba(255, 255, 255, 0) 85.85%
        );
      }
    }
  }
}


// case studies post type
.single-dd_case_study{
  .hero-banner{
    margin-bottom: 60px !important;
  }
  @media(max-width:767.98px){
    .hero-banner{
      margin-bottom: 40px !important;
    }
    .h2-semi-600{
      @include h3(600);
    }
  }
}