.featured-work-section {
  background: radial-gradient(
      95.76% 599.79% at 103.19% 38.83%,
      #2471b5 0.64%,
      #1d7ac9 10.15%,
      #1188e8 57.76%,
      #2471b5 79.68%,
      #2471b5 100%
    ),
    linear-gradient(78.94deg, #76c8fb 0.52%, #2471b5 54.84%);
  padding-top: 60px;
  padding-bottom: 60px;
  .section-heading {
    margin-bottom: 0px;
  }
  .section-heading,
  .link-with-icon a {
    color: #ffffff;
    &:after {
      background-color: #ffffff;
    }
  }
  .link-with-icon svg path {
    stroke: #ffffff;
  }
  .wp-block-columns {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  .link-with-icon {
    font-size: 16px;
  }
  @media (min-width: 768px) {
    margin-bottom: 60px !important;
  }
  @media (max-width: 1199.98px) {
    .link-with-icon {
      justify-content: center;
      margin-top: 30px;
      width: 100%;
    }
  }
  @media (max-width: 767.98px) {
    margin-bottom: 30px !important;
    padding-top: 30px;
    padding-bottom: 30px;
    .wp-block-columns {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}

//services section
.services-section {
  @media (max-width: 991.98px) {
    .section-heading {
      margin-bottom: 30px;
    }
  }
}

// process section
.process-section {
  margin-bottom: 85px;
  .section-heading {
    margin-bottom: 20px;
  }
  .section-columns {
    margin-top: 132px;
    margin-bottom: 0px;
    border: 1px solid #eeeeee;
    position: relative;
  }
  @media (max-width: 991.98px) {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    .subheading {
      max-width: 211px;
      margin: 0px auto 30px;
      @include body(400);
    }
    .section-columns {
      margin-top: 30px;
      border: none;
    }
  }
  @media (min-width: 992px) {
    .section-columns {
      max-width: calc(100% - 118px);
      .hide-lg-down {
        display: flex;
        align-items: center;
      }
    }
    .popout-image {
      margin: 0px;
      position: absolute;
      right: -73px;
      top: -80px;
      max-width: 618px;
    }
  }
  @media (max-width: 1250px) {
    .popout-image {
      right: -15%;
      max-width: 65%;
    }
  }
  @media (max-width: 1061px) {
    .popout-image {
      max-width: 70%;
      top: -5%;
    }
  }
}
//CTA
.text-cta {
  .has-bg {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .wp-block-columns {
    margin-bottom: 0px;
  }
  @media (min-width: 768px) {
    margin-top: 60px !important;
  }
  @media (max-width: 767.98px) {
    margin-top: 30px !important;
    .dd-button {
      a {
        @include dd-button-mobile;
      }
    }
    .wp-block-columns {
      grid-gap: 30px;
      gap: 30px;
    }
  }
}

//image CTA
.image-cta {
  .has-bg {
    color: $light;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 0px;
  }
  .wp-block-columns {
    grid-gap: 45px;
    gap: 45px;
    @media (min-width: 768px) {
      &:first-child {
        padding-left: 40px;
      }
      &:last-child {
        padding-right: 20px;
      }
    }
  }
  @media (min-width: 768px) {
    margin-top: 180px !important;
    .overflow-image {
      margin-top: -113px;
      margin-bottom: -64px !important;
      max-width: 535px;
    }
  }
  @media (max-width: 767.98px) {
    .gradient-bg-2 {
      padding: 30px 20px 20px;
    }
    .overflow-image {
      text-align: center;
    }
    .wp-block-columns {
      grid-gap: 20px;
      gap: 20px;
    }
    .h2-semi-600 {
      margin-bottom: 10px !important;
      @include h3(600);
      max-width: 214px;
    }
    .body-400 {
      @include label(500);
    }
  }
  @media (max-width: 575.98px) {
    .h2-600 {
      max-width: 214px;
    }
    .dd-button {
      a {
        @include dd-button-mobile;
      }
    }
  }
}

//Features list
.features-section {
  .features-list {
    margin-bottom: 0px;
    grid-gap: 20px 40px !important;
    gap: 0px 40px !important;
    margin-top: 54px;
    .icon {
      margin-bottom: 24px;
      img {
        width: 86px;
        height: 86px;
        object-fit: contain;
      }
    }
    .body-reg-400 {
      margin-bottom: 0px;
    }
    .feature {
      p {
        padding-left: 0px !important;
        padding-right: 0px !important;
      }
    }
  }
  @media (min-width: 768px) {
    .h3-semi-600 {
      max-width: 216px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media (max-width: 767.98px) {
    margin-bottom: 30px !important;
    .subheading {
      max-width: 319px;
      margin-left: auto;
      margin-right: auto;
    }
    .h2-600 {
      @include h3(600);
    }
    .h3-semi-600 {
      @include h4(600);
      margin-bottom: 6px;
    }
    .body-med-500 {
      @include body(400);
    }
    .features-list {
      margin-top: 10px;
      .feature {
        border-bottom: 1px solid #eeeeee;
        padding: 20px 0px;
        display: flex;
        grid-gap: 20px;
        &:last-child {
          padding-bottom: 0px;
          border-bottom: none;
        }
        .h3-600 {
          @include h4(600);
          margin-bottom: 8px;
        }
        .icon {
          margin-bottom: 0px;
          width: 46px;
          img {
            width: 46px;
            height: 46px;
          }
        }
        .wp-block-group {
          width: calc(100% - 46px);
          p {
            text-align: left;
          }
        }
      }
    }
  }
}

// featured videos section
.featured-videos-section {
  .video-list {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  @media (max-width: 767.98px) {
    .video-list {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

// testimonial section
.testimonial-section {
  padding-top: 60px;
  padding-bottom: 60px;
  .dd-slider-arrow {
    &.dd-prev {
      left: -92px;
    }
    &.dd-next {
      right: -92px;
    }
  }
  @media (min-width: 768px) {
    .testimonial-slider {
      max-width: calc(100% - 184px);
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media (max-width: 767.98px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

// Awards sections
.awards-section {
  .secondary-heading {
    margin-bottom: 0px;
  }
  .section-heading {
    margin-bottom: 16px;
  }
  .subheading {
    max-width: 730px;
    margin: 0px auto 54px;
  }
  @media (max-width: 767.98px) {
    .secondary-heading {
      margin-bottom: 10px;
    }
    .section-heading {
      margin-bottom: 20px;
    }
    .subheading {
      margin-bottom: 60px;
    }
  }
}

// image CTA
.bg-image-cta {
  .alignwide {
    .alignwide {
      padding: 50px;
      margin-bottom: 0px;
      .dd-button {
        margin-top: 0px !important;
      }
    }
  }
  p {
    text-transform: capitalize;
  }
  @media (max-width: 767.98px) {
    .alignwide {
      .alignwide {
        padding: 60px 20px 40px;
        gap: 30px;
      }
    }
    .gb-background-cover {
      background-position: 70% center;
      background-size: cover;
    }
    .h2-semi-600 {
      @include h3(600);
    }
  }
}

// hero banner
.hero-banner {
  margin-top: 0px !important;
  min-height: 600px;
  display: grid;
  position: relative;
  padding-bottom: 75px;
  padding-top: 75px;
  &:before {
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(
        0deg,
        rgba(4, 25, 37, 0.4),
        rgba(4, 25, 37, 0.4)
      ),
      radial-gradient(
        99.34% 476.3% at 105.9% 22.27%,
        rgba(0, 0, 0, 0) 50.4%,
        rgba(0, 0, 0, 0.58) 90.23%
      ),
      linear-gradient(
        177.38deg,
        rgba(0, 0, 0, 0.5) 2.55%,
        rgba(0, 0, 0, 0) 20.91%
      );
    position: absolute;
  }
  p {
    margin-bottom: 0px;
  }
  .banner-heading {
    margin-bottom: 20px;
  }
  @media (max-width: 767.98px) {
    min-height: 500px;
    padding-top: 0px;
    padding-bottom: 0px;
    align-items: end;
    &:before {
      background: radial-gradient(
          1019.88% 100% at 50% 0%,
          rgba(0, 0, 0, 0) 46.67%,
          rgba(0, 0, 0, 0.84) 70.6%
        ),
        linear-gradient(0deg, rgba(4, 25, 37, 0.2), rgba(4, 25, 37, 0.2)),
        linear-gradient(
          177.38deg,
          rgba(0, 0, 0, 0.5) 2.55%,
          rgba(0, 0, 0, 0) 20.91%
        );
    }
    .banner-heading {
      margin-bottom: 10px;
      @include h2(600);
    }
    hr.wp-block-separator {
      margin: 30px 0 !important;
    }
  }
}
.Exhibition_Stands_In_India {
  .hero-banner {
    .banner-text {
      max-width: 549px;
    }
  }
}

// page intro
.page-intro {
  p {
    margin-bottom: 0px;
    padding: 0px !important;
  }
  .section-heading {
    margin-bottom: 20px;
  }
  @media (min-width: 768px) {
    margin-top: -230px !important;
    .float-over {
      padding: 40px;
      background-color: #ffffff;
      box-shadow: 2px 5px 22px rgba(0, 0, 0, 0.06);
      .wp-block-group__inner-container {
        max-width: 860px;
        margin: auto;
      }
    }
  }
  @media (max-width: 767.98px) {
    .section-heading {
      max-width: 323px;
    }
  }
}

// our work section
.our-work-section {
  background: radial-gradient(
      95.76% 599.79% at 103.19% 38.83%,
      #2471b5 0.64%,
      #1d7ac9 10.15%,
      #1188e8 57.76%,
      #2471b5 79.68%,
      #2471b5 100%
    ),
    linear-gradient(94.9deg, rgba(118, 200, 251, 0.6) 13.19%, #2471b5 60.09%);
  padding-top: 60px;
  padding-bottom: 60px;
  color: #ffffff;
  .secondary-heading,
  .section-heading {
    margin-bottom: 0px;
  }
  .sliders {
    gap: 20px 109px;
    margin-bottom: 0px;
    .wp-block-column {
      &:first-child {
        margin-top: 30px;
      }
    }
    .dd-button {
      margin-bottom: 0px;
    }
  }
  @media (max-width: 767.98px) {
    margin-top: 0px !important;
    padding-top: 30px;
    padding-bottom: 30px;
    .secondary-heading {
      margin-bottom: 10px;
    }
    .section-heading {
      max-width: 262px;
    }
    .sliders {
      .wp-block-column {
        &:first-child {
          order: 2;
          margin-top: 0px;
        }
        &:last-child {
          margin-top: 30px;
          order: 1;
        }
      }
      .slick-dots {
        margin-top: 10px;
        margin-bottom: 0px;
      }
    }
  }
}

// map section
.map-section {
  .section-heading {
    margin-bottom: 20px;
  }
  .subheading {
    max-width: 569px;
    margin: auto;
  }
  .location-details {
    margin-top: 50px;
    margin-bottom: 0px;
    gap: 14px 80px;
    .map {
      width: 100%;
      height: 100%;
      position: relative;
      path {
        &.active-state {
          fill: #2471b5;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          transform: translate(-1px, -1px);
        }
      }
      .map-marker {
        cursor: pointer;
        position: relative;
        &.active-location {
          opacity: 1;
          transform: scale(1.5);
          transform-origin: center;
          transform-box: fill-box;
          ellipse,
          path {
            fill: #ffffff;
          }
        }
      }
    }
    .wp-block-column {
      &:first-child {
        flex-basis: 60%;
      }
      &:last-child {
        flex-basis: 40%;
        display: grid;
        justify-items: end;
      }
    }
  }
  @media (min-width: 1200px) {
    .location-details {
      max-width: 1078px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media (max-width: 767.98px) {
    overflow: hidden;
    margin-bottom: 0px !important;
    background: #f6fbff;
    padding-top: 30px;
    padding-bottom: 30px;
    .section-heading {
      margin-bottom: 10px;
    }
    .subheading {
      @include label(400);
    }
    .location-details {
      margin-top: 10px;
      flex-direction: column;
    }
    button {
      &.dd-slider-arrow {
        width: 90px;
        height: 90px;
        top: 10px;
        svg {
          height: 24px;
          width: 14px;
        }
        &.dd-next.slick-arrow {
          right: -65px;
          justify-content: flex-start;
          svg {
            margin-left: 20px;
          }
        }
        &.dd-prev.slick-arrow {
          left: -65px;
          justify-content: flex-end;
          svg {
            margin-right: 20px;
          }
        }
      }
    }
    .wp-block-column {
      &:last-child {
        justify-content: center;
      }
    }
  }
}

// Features image section
.features-image-section {
  .wp-block-columns {
    margin-bottom: 0px;
    gap: 80px;
    .wp-block-column {
      flex-basis: auto;
    }
  }
  figure {
    margin-bottom: 0px;
  }
  .features {
    .wp-block-group__inner-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      .feature {
        border: 1px solid #eeeeee;
        padding: 20px;
        margin-bottom: 0px;
        gap: 16px;
        display: grid;
        grid-template-columns: 54px 1fr;
        figure {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        p {
          margin-bottom: 0px;
          @include label(400);
        }
        .title {
          @include body(700);
          margin-bottom: 10px;
        }
      }
    }
  }
  .image-container {
    padding-top: 30px;
    figure {
      position: relative;
      &::before {
        content: "";
        height: calc(100% + 23px);
        width: 100%;
        max-width: 324px;
        max-height: 543px;
        background: #2471b5;
        position: absolute;
        z-index: -1;
        left: -30px;
        top: -30px;
      }
    }
    img {
      height: 100%;
      width: 100%;
      max-height: 520px;
      max-width: 510px;
      object-fit: cover;
    }
  }
  .secondary-heading {
    margin-bottom: 0px;
  }
  .section-heading {
    margin-bottom: 20px;
  }
  .subheading {
    max-width: 480px;
    margin-bottom: 20px;
  }
  @media (min-width: 768px) {
    .features {
      .wp-block-group__inner-container {
        .feature {
          min-height: 116px;
        }
      }
    }
  }
  @media (max-width: 767.98px) {
    .section-heading,
    .subheading,
    .secondary-heading {
      margin-top: 0px;
      text-align: center;
    }
    .subheading {
      margin-bottom: 30px;
    }
    .features {
      .wp-block-group__inner-container {
        grid-template-columns: 1fr;
        .feature {
          padding: 16px;
          gap: 20px;
          p {
            @include body(400);
          }
          .title {
            @include h4(600);
          }
        }
      }
    }
  }
}

// other services section
.other-services-section {
  .section-heading {
    margin-bottom: 20px;
  }
  .subheading {
    margin-bottom: 0px;
  }
  .wp-block-columns {
    margin-bottom: 0px;
    gap: 30px 62px;
    .wp-block-column {
      position: relative;
      .floating-icon {
        margin: 0px;
        position: absolute;
        bottom: 0px;
        left: 0px;
      }
    }
  }
  @media (min-width: 768px) {
    .service-cards {
      flex-direction: row;
    }
  }
  @media (max-width: 767.98px) {
    .subheading {
      max-width: 100%;
    }
    .section-heading {
      text-align: center;
    }
    .wp-block-columns {
      .wp-block-column {
        .floating-icon {
          width: 110px;
          height: 101px;
          right: -16px;
          right: 0px;
          left: auto;
          top: -44px;
        }
      }
    }
  }
}

// conatct us form
.callback-form {
  .wp-block-columns{
    margin-bottom: 0px;
  }
  .alignwide {
    .frm_forms {
      form {
        max-width: 780px;
        margin: auto;
        text-align: center;
        fieldset {
          padding-bottom: 0px;
        }
        .frm_button_submit {
          width: 100% !important;
          justify-content: center !important;
        }
      }
    }
  }
  @media (min-width: 768px) {
    margin-top: -220px !important;
    .frm_forms {
      background: #ffffff;
      border: 1px solid #eeeeee;
      box-shadow: 2px 5px 22px rgba(0, 0, 0, 0.06);
      padding-top: 40px;
      padding-bottom: 60px;
    }
  }
  @media (max-width: 767.98px) {
    form {
      .frm_form_title {
        margin-bottom: 30px !important;
        font-size: 24px !important;
        line-height: 28px !important;
      }
      .frm_fields_container {
        padding: 20px;
        background: #ffffff;
        border: 1px solid #eeeeee;
        box-shadow: 2px 5px 22px rgba(0, 0, 0, 0.06);
      }
    }
  }
}
