// logo carousel
.logo-carousel-section {
  padding-top: 13px;
  padding-bottom: 14px;
  margin-top: 0px !important;
  .section-heading {
    margin-bottom: 0px;
  }
  .gb-layout-column-wrap {
    display: flex;
    align-items: center;
    column-gap: 22px;
  }
  .logo-carousel {
    overflow: hidden;
    position: relative;
    &:before,
    &:after {
      content: "";
      height: 100%;
      width: 28px;
      position: absolute;
      z-index: 1;
      top: 0;
    }
    &:before {
      left: 0;
      background: linear-gradient(
        90deg,
        #ffffff 1.95%,
        rgba(255, 255, 255, 0) 100.8%
      );
    }
    &:after {
      right: 0;
      background: linear-gradient(
        -90deg,
        #ffffff 1.95%,
        rgba(255, 255, 255, 0) 100.8%
      );
    }
    .slick-track {
      display: flex !important;
    }
    .slick-list {
      margin: 0 -10px;
    }
    .slick-slide {
      background-color: #fff;
      margin-bottom: 0px;
      margin: 0 10px;
      height: 94px !important;
      padding: 0px;
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }
  @media (max-width: 991.98px) {
    padding-top: 0px;
    padding-bottom: 0px;
    .gb-layout-column-wrap {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    .section-heading {
      margin-bottom: 30px;
    }
    .logo-carousel {
      .slick-list {
        margin: 0 -2.5px;
      }
      .slick-slide {
        height: 87px !important;
        margin: 0 2.5px;
      }
    }
  }
}

// portfolio gallery slider
.portfolio-gallery-slider {
  .gallery-slide {
    .gallery-image {
      max-height: 625px;
      width: 100%;
      object-fit: cover;
    }
  }
}

// portfolio thumbnail carousel
.portfolio-thumbnail-carousel {
  .slick-track {
    margin-right: 0;
    width: 100% !important;
    transform: none !important;
    display: flex;
    justify-content: flex-end;
  }
  .slick-slide {
    margin: 0 8px;
  }
  .slick-list {
    margin: 0 -8px;
  }
  .thumbnail-slide {
    border: 2px solid transparent;
    box-sizing: border-box;
    width: 99px !important;
    height: 62px !important;
    transition: all 0.2s ease;
    .thumbnail-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &.slick-active:not(.slick-current) {
      position: relative;
      .thumbnail-image {
        opacity: 70%;
      }
      &:before {
        content: "";
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2)
        );
        opacity: 0.7;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    &.slick-current {
      border-color: #2471b5;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }
  @media (min-width: 768px) {
    .thumbnail-slide {
      &.slick-current {
        width: 103px !important;
        height: 64px !important;
      }
    }
  }
  @media (max-width: 767.98px) {
    .slick-track {
      display: flex;
      justify-content: flex-end;
    }
    .slick-slide {
      margin: 0 4px;
    }
    .slick-list {
      margin: 0 -4px;
    }
    .thumbnail-slide {
      width: 36px !important;
      height: 36px !important;
    }
  }
}

// testimonial slider
.testimonial-slider {
  margin-bottom: 40px;
  .wp-block-columns {
    margin-bottom: 0px;
    gap: 11px 25px;
  }
  .wp-block-group__inner-container {
    .testimonial {
      p {
        margin-bottom: 0px;
      }
      .gb-container-inside {
        background: #185a91;
        background-image: url(../images/coma.svg);
        background-repeat: no-repeat;
        background-position: calc(100% - 20px) 20px;
        background-size: 130px 99px;
      }
      .author-image {
        margin: 0px;
        height: 100%;
        display: flex;
        align-items: flex-end;
      }
      .left-panel {
        padding-left: 30px;
        padding-top: 15px;
      }
      .right-panel {
        padding: 40px 20px 40px 0px;
      }
      hr {
        border-color: #f48e0c;
        width: 93px;
        border-width: 4px;
        margin: 20px auto 30px 0px;
      }
      .author {
        display: grid;
        grid-template-columns: 74px 1fr;
        gap: 14px;
        grid-gap: 14px;
        .author-position {
          margin-bottom: 4px;
        }
        .author-logo {
          margin: 0;
          background: #fff;
          border-radius: 2px;
          overflow: hidden;
          img {
            object-fit: contain;
          }
        }
      }
    }
  }
  @media (min-width: 768px) {
    .wp-block-group__inner-container {
      .testimonial {
        .left-panel {
          max-width: 207px;
        }
        .right-panel {
          flex-basis: 55.623% !important;
        }
      }
    }
  }
  @media (max-width: 767.98px) {
    margin-bottom: 30px;
    .wp-block-group__inner-container {
      .testimonial {
        .left-panel {
          padding: 0px;
          padding-top: 6px;
        }
        .right-panel {
          padding: 20px;
          padding-bottom: 25px;
        }
        .author-image {
          justify-content: center;
          position: relative;
          max-width: 120px;
          margin: auto;
          &:after {
            content: "";
            height: 1px;
            width: 107.62px;
            background-color: #1e65a3;
            position: absolute;
            bottom: 0px;
          }
        }
        .gb-container-inside {
          background-size: 63px 48px;
        }
        hr {
          border-color: #76c8fb;
          border-width: 1px;
          width: 100%;
          margin-top: 20px;
          margin-bottom: 20px;
          max-width: 100%;
        }
        .author-position {
          @include body(400);
        }
        .author-company {
          @include label(600);
        }
        .author {
          gap: 10px;
          grid-gap: 10px;
        }
      }
    }
  }
}

// awards carousel
.awards-carousel {
  margin: 0px;
  gap: 20px !important;
  p {
    margin-bottom: 0px;
  }
  .award-image {
    margin-bottom: 10px;
  }
  .award-title {
    padding: 0px !important;
  }
  .slick-dots {
    li {
      button {
        background-color: #2471b5;
      }
    }
  }
  @media (max-width: 767.98px) {
    display: block !important;
    .slick-dots {
      margin-top: 30px;
      margin-bottom: 0px;
    }
    .award-image {
      border-radius: 6px;
      overflow: hidden;
      height: 120px;
      width: 120px;
      margin: 0px auto 10px;
    }
    .award-image,
    .award-title {
      transition: all 0.2s ease-in-out;
    }
    .award-slide-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 10px;
      padding-right: 10px;
    }
    .slick-slide {
      transform: scale(0.5);
      opacity: 0.5;
      transition: all 0.3s ease-in-out;
      .award-title {
        display: none;
        height: 67.2px;
      }
      .award-image {
        transform: translateY(-50px);
        transition: all 0.3s ease-in-out;
      }
    }
    .slick-slide,
    .slick-slide[aria-hidden="true"]:not(.slick-cloned)
      ~ .slick-cloned[aria-hidden="true"] {
      transform: scale(0.5, 0.5);
      opacity: 0.5;
      transition: all 0.3s ease-in-out;
      .award-title {
        display: none;
      }
      .award-image {
        transform: translateY(-50px);
        transition: all 0.3s ease-in-out;
      }
    }
    .slick-center,
    .slick-slide[aria-hidden="true"]:not([tabindex="-1"])
      + .slick-cloned[aria-hidden="true"] {
      transform: scale(1);
      opacity: 1;
      .award-title {
        display: block;
      }
      .award-image {
        transform: translateY(0);
      }
    }
    .slick-current.slick-active {
      transform: scale(1);
      opacity: 1;
      .award-title {
        display: block;
      }
      .award-image {
        transform: translateY(0);
      }
    }
    .slick-track {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

// our work sliders
.our-work-image-slider {
  max-width: 100%;
  .slick-slide {
    margin-bottom: 0px;
    height: 295px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  @media (max-width: 767.98px) {
    .slick-slide {
      height: 240px;
    }
  }
}
.our-work-details-slider {
  max-width: 100%;
  .slick-slide {
    .gb-container-inside {
      max-width: calc(100% - 1px);
    }
    p {
      margin-bottom: 0px;
      padding: 0px !important;
    }
    .details {
      border: 1px solid #eeeeee;
      padding: 20px;
      margin-bottom: 30px;
    }
    .separator-horizontal-orange {
      margin: 10px 0 !important;
      max-width: 57px !important;
    }
  }
  @media (max-width: 767.98px) {
    .slick-slide {
      .separator-horizontal-orange {
        border-width: 2px !important;
        max-width: 42px !important;
      }
    }
  }
}

// locations slider
.locations-slider {
  width: 100%;
  max-width: 324px;
  .location {
    background: rgba(118, 200, 251, 0.8);
    padding: 30px;

    .wp-block-group__inner-container {
      height: 100%;
      background: #ffffff;
      padding: 25px;
      padding-top: 30px;
    }
    p,
    ul {
      margin-bottom: 0px;
    }
    .location-icon {
      margin-bottom: 5px;
      width: 112px;
      height: 56px;
      margin-left: auto;
      margin-right: auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .separator-horizontal-orange {
      max-width: 100% !important;
      margin: 10px auto 20px !important;
      border-width: 2px !important;
    }
    ul {
      padding-left: 0px;
      li {
        @include h4(400);
        padding-left: 30px;
        position: relative;
        &::marker {
          font-size: 0px;
        }
        &:before {
          content: "";
          height: 5px;
          width: 5px;
          border-radius: 6px;
          background-color: #041925;
          position: absolute;
          left: 12.5px;
          top: 10.5px;
        }
      }
    }
  }
  @media (min-width: 1200px){
    max-width: 398px;
  }
  @media (max-width: 991.98px){
    .location{
      .location-title {
        @include h3(600);
      }
      ul {
        li {
          font-family: $montserrat;
          font-weight: 500;
          font-size: 16px;
          line-height: 140%;
          &:before {
            height: 4px;
            width: 4px;
            top: 10px;
          }
        }
      }
    }
  }
  @media (max-width: 767.98px) {
    .location {
      padding: 0px;
      background: transparent;
        .wp-block-group__inner-container {
          padding: 0px;
          background: transparent;
        }
      .separator-horizontal-orange {
        max-width: 286px !important;
        margin: 8px auto 12px !important;
      }
      .location-icon {
        width: 104px;
      }
    }
  }
}
