// logo carousel
.logo-carousel-section {
  padding-top: 30px;
  padding-bottom: 30px;
  .section-heading {
    margin-bottom: 0px;
  }
  .gb-layout-column-wrap {
    display: flex;
    align-items: center;
    column-gap: 22px;
  }
  .logo-carousel {
    overflow: hidden;
    position: relative;
    &:before,
    &:after {
      content: "";
      height: 100%;
      width: 28px;
      position: absolute;
      z-index: 1;
      top: 0;
    }
    &:before {
      left: 0;
      background: linear-gradient(
        90deg,
        #dbf2ff 26.68%,
        rgba(219, 242, 255, 0) 100%
      );
    }
    &:after {
      right: 0;
      background: linear-gradient(
        -90deg,
        #dbf2ff 0%,
        rgba(219, 242, 255, 0) 100%
      );
    }
    .slick-track {
      display: flex !important;
    }
    .slick-list {
      margin: 0 -10px;
    }
    .slick-slide {
      background-color: #fff;
      margin-bottom: 0px;
      margin: 0 10px;
      height: inherit !important;
      padding: 8px 18px;
    }
  }
  @media (min-width: 992px) {
    .gb-layout-column-wrap {
      .gb-block-layout-column {
        &:nth-child(1) {
          max-width: 14.577%;
        }
      }
    }
  }
  @media (max-width: 991.98px) {
    .gb-layout-column-wrap {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    .section-heading {
      margin-bottom: 30px;
    }
  }
}

// portfolio gallery slider
.portfolio-gallery-slider {
  .gallery-slide {
    .gallery-image {
      max-height: 625px;
      width: 100%;
      object-fit: cover;
    }
  }
}

// portfolio thumbnail carousel
.portfolio-thumbnail-carousel {
  .slick-track {
    margin-right: 0;
    width: 100% !important;
    transform: none !important;
    display: flex;
    justify-content: flex-end;
  }
  .slick-slide {
    margin: 0 8px;
  }
  .slick-list {
    margin: 0 -8px;
  }
  .thumbnail-slide {
    border: 2px solid transparent;
    box-sizing: border-box;
    width: 99px !important;
    height: 62px !important;
    transition: all 0.2s ease;
    .thumbnail-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &.slick-active:not(.slick-current){
      position: relative;
      .thumbnail-image{
        opacity: 70%;
      }
      &:before{
        content: '';
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
        opacity: 0.7;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    &.slick-current {
      border-color: #2471b5;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }
  @media (min-width: 768px){
    .thumbnail-slide{
      &.slick-current{
        width: 103px !important;
        height: 64px !important;
      }
    }
  }
  @media (max-width: 767.98px){
    .slick-track{
      display: flex;
      justify-content: flex-end;
    }
    .slick-slide {
      margin: 0 4px;
    }
    .slick-list {
      margin: 0 -4px;
    }
    .thumbnail-slide{
      width: 36px !important;
      height: 36px !important;
    }
  }
}
