.statistics-section {
  background: radial-gradient(
      95.76% 599.79% at 103.19% 38.83%,
      #2471b5 0.64%,
      #1d7ac9 10.15%,
      #1188e8 57.76%,
      #2471b5 79.68%,
      #2471b5 100%
    ),
    linear-gradient(
      269.87deg,
      #6ebff4 0.21%,
      #2471b5 20.71%,
      #2471b5 73.54%,
      #76c8fb 99.89%
    );
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
  .stat {
    &:not(:last-child) {
      border-right: 1px solid #eeeeee;
    }
    &-number {
      @include h1(600);
      margin-bottom: 0px;
      mark, strong{
        color: #fff !important;
      }
    }
    &-title {
      @include body(600);
      margin-bottom: 0px;
    }
  }
  .wp-block-genesis-blocks-gb-columns{
    margin: 0px !important;
  }
  @media (max-width: 992px) {
    .gb-layout-column-wrap {
      &.gb-is-responsive-column {
        grid-template-columns: 1fr;
        grid-template-areas:
          "col1"
          "col2"
          "col3"
          "col4";
      }
    }
    .stat {
      position: relative;
      &:not(:first-child) {
        padding-top: 30px;
      }
      &:not(:last-child) {
        border-right: 0;
        padding-bottom: 30px;

        &:after {
          content: "";
          height: 1px;
          width: 58px;
          background-color: #eeeeee;
          position: absolute;
          left: calc(50% - 29px);
          bottom: 0;
        }
      }
    }
  }
}
