@import "theme-styles/header";
@import "theme-styles/hero-slider";

body {
  font-family: "Montserrat";
  color: #041925;
}
a {
  outline: none !important;
}
.site-inner {
  @media only screen and (min-width: 1300px) {
    max-width: 1220px;
  }
}

.wp-block-genesis-blocks-gb-columns.margin-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
