//fonts
$poppins: "Poppins";
$montserrat: "Montserrat";

//colors
$gradient1: linear-gradient(90.79deg,
    rgba(118, 200, 251, 0.2) 21.79%,
    #76c8fb 93.49%);
$gradient2: radial-gradient(95.76% 599.79% at 103.19% 38.83%,
    #2471b5 0.64%,
    #1d7ac9 10.15%,
    #1188e8 57.76%,
    #2471b5 79.68%,
    #2471b5 100%),
linear-gradient(89.68deg, #76c8fb -17.85%, #2471b5 72.31%);
$gradient3: radial-gradient(95.76% 599.79% at 103.19% 38.83%,
    #2471b5 0.64%,
    #1d7ac9 10.15%,
    #1188e8 57.76%,
    #2471b5 79.68%,
    #2471b5 100%),
linear-gradient(180deg, #76c8fb 4.66%, #2471b5 96.22%);
$brand-orange: #f48e0c;
$accent-black: #041925;
$light: #ffffff;
$gradient4: radial-gradient(92.57% 589.74% at 100% 5.55%,
    #2471b5 0.64%,
    #1388e4 41.19%,
    #118ae8 62.93%,
    #2471b5 79.68%,
    #2471b5 100%),
#2471b5;



// typography
@mixin h4($fontWeight) {
    font-family: $poppins;
    font-style: normal;
    font-weight: $fontWeight;
    font-size: 18px;
    line-height: 140%;
}

@mixin body($fontWeight) {
    font-family: $montserrat;
    font-style: normal;
    font-weight: $fontWeight;
    font-size: 16px;
    line-height: 140%;
}

@mixin h1($fontWeight) {
    font-family: $poppins;
    font-style: normal;
    font-weight: $fontWeight;
    font-size: 40px;
    line-height: 140%;
}

@mixin h2($fontWeight) {
    font-family: $poppins;
    font-style: normal;
    font-weight: $fontWeight;
    font-size: 32px;
    line-height: 48px;
}

@mixin h3($fontWeight) {
    font-family: $poppins;
    font-style: normal;
    font-weight: $fontWeight;
    font-size: 24px;
    line-height: 36px;
}

@mixin label($fontWeight) {
    font-family: $montserrat;
    font-style: normal;
    font-weight: $fontWeight;
    font-size: 14px;
    line-height: 140%;
}

//links
@mixin dd-link() {
    position: relative;

    &:after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: #fff;
        position: absolute;
        left: 0;
        bottom: -3px;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s ease-out;
    }

    &:hover {
        &:after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }
}

body {

    &-reg-400,
    p {
        @include body(400);
    }

    &-med-500 {
        @include body(500);
    }

    &-semi-600 {
        @include body(600);
    }
}

.label {
    &-reg {
        &-400 {
            @include label(400);
        }
    }

    &-med {
        &-500 {
            @include label(500);
        }
    }
}

.h2 {

    &-600,
    &-semi-600 {
        @include h2(600);
    }
}

.h3 {
    &-semi {
        &-600 {
            @include h3(600);
        }
    }
}

.hide-md-up {
    @media (min-width: 768px) {
        display: none;
    }
}

.hide-lg-up {
    @media (min-width: 992px) {
        display: none;
    }
}

//backgrounds
.gradient-bg {

    &-1,
    &-2,
    &-3,
    &-4 {
        color: #ffffff;
    }

    &-1 {
        background: $gradient1;
    }

    &-2 {
        background: $gradient2;
    }

    &-3 {
        background: $gradient3;
    }

    &-4 {
        background: $gradient4;
    }
}

.mb {
    &-0 {
        margin-bottom: 0px !important;
    }

    &-20 {
        margin-bottom: 20px !important;
    }

    &-30 {
        margin-bottom: 30px !important;
    }
}

.mr {
    &-0 {
        margin-right: 0px !important;
    }
}

@mixin dd-button-mobile {
    width: 100%;
    justify-content: center !important;
    padding: 12px 16px;
}

// buttons
.dd-button {

    a,
    button {
        background-color: $brand-orange !important;
        border-radius: 0px;
        outline: none !important;
        border: 1px solid $brand-orange;
        box-shadow: none;
        padding: 12px 30px;
        height: 50px;
        display: inline-flex;
        align-items: center;
        color: $accent-black !important;
        @include h4(500);
        text-decoration: none !important;
        transition: all 0.2s ease-in-out !important;
        cursor: pointer;
    }

    &.bordered {

        a,
        button {
            background-color: #ffffff !important;
            border: 1px solid $brand-orange;
        }
    }

    &.right-icon {

        a,
        button {
            justify-content: space-between;
            grid-gap: 10px;
            gap: 10px;

            &:after {
                content: "";
                width: 20px;
                height: 20px;
                background-image: url(../images/right-arrow-dark.svg);
                background-repeat: no-repeat;
            }
        }

        &.plus-icon {

            a,
            button {
                &:after {
                    background-image: url(../images/plus-icon-dark.svg);
                }
            }
        }
    }

    &.shadow {

        a,
        button {
            box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    @media (min-width: 768px) {

        a,
        button {
            &:hover {
                box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }

        &.shadow {

            a,
            button {
                &:hover {
                    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
                }
            }
        }
    }

    @media (max-width: 767.98px) {

        a,
        button {
            @include dd-button-mobile;
        }

        &.shadow {

            a,
            button {
                //box-shadow: none;
            }
        }
    }
}

//seperators
.dd-seperator {
    &.wp-block-genesis-blocks-gb-columns {
        margin-top: 40px !important;
        margin-bottom: 40px !important;
    }

    hr {
        &.wp-block-separator {
            margin: 0px auto;
        }
    }
}

//social links widget
.social-links {
    margin-left: 30px;
    display: flex;
    align-items: center;
    margin-left: 0px;

    .social-link {
        margin-bottom: 0px;

        &:not(:last-child) {
            margin-right: 10px;
        }

        a {
            display: flex;

            &:after {
                content: none;
            }

            img {
                width: 20px;
                height: 20px;
            }
        }
    }
}

.link-with-icon {
    display: inline-flex;
    align-items: center;

    a {
        text-decoration: none;
        text-underline-offset: 0.2em;
        color: #2471b5;
        font-weight: 500;
        font-size: inherit;
        line-height: inherit;
        display: inline-flex;
        align-items: center;
        @include dd-link;

        &:after {
            background-color: #2471b5;
            bottom: 1px;
        }
    }

    .icon {
        margin-left: 6px;
        display: inline-flex;
        align-items: center;
    }
}

.wp-block-genesis-blocks-gb-columns {
    margin-top: 80px !important;
    margin-bottom: 80px !important;

    .gb-block-layout-column-inner {
        padding-bottom: 0px !important;
    }
}

.section-heading {
    @include h2(600);
    text-transform: capitalize;
    margin-bottom: 20px;
}

.secondary-heading {
    @include h2(400);

    @media (max-width: 767.98px) {
        @include h3(400);
    }
}

.subheading {
    @include body(400);

    @media (max-width: 767.98px) {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.align-right {
    text-align: right;
}

.positionStatic {
    position: static !important;
}

// sliders
.dd-slider-arrow {
    position: absolute;
    top: calc(50% - 32px);
    z-index: 1;
    height: 64px;
    width: 64px;
    border: 1px solid #2471b5;
    border-width: 1px !important;
    outline: none !important;
    border-radius: 100%;
    padding: 0;
    margin: 0;
    background: #ffffff;
    border-color: #2471b5;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        path {
            stroke: #2471b5;
        }
    }

    &.slick-disabled {
        background: #2471b5;
        border-color: #ffffff;

        svg {
            path {
                stroke: #ffffff;
            }
        }
    }

    &.dd-prev {
        left: -32px;

        &.position-outside {
            left: -90px;
        }
    }

    &.dd-next {
        right: -32px;

        &.position-outside {
            right: -90px;
        }
    }

    &:not(.slick-disabled):hover,
    &:not(.slick-disabled):focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-color: #ffffff;
        background: #ffffff;
    }

    @media (min-width: 768px) {

        &:not(.slick-disabled):hover,
        &:not(.slick-disabled):focus {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-color: #ffffff;
            background: #ffffff;
        }

        /* &.dd-prev:hover{
        border-color: #2471B5;
      } */
        /* &.dd-next:hover{
        border-color: #FFFFFF;
      } */
    }

    @media (max-width: 767.98px) {
        width: 48px;
        height: 48px;

        svg {
            height: 16px;
            width: 10px;
        }
    }
}

.slick-dots {
    margin: 20px auto 0px;
    padding: 0px;
    padding-left: 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 8px;
    gap: 8px;

    li {
        list-style-type: none;
        display: flex;

        button {
            font-size: 0px;
            padding: 0;
            margin: 0;
            background: #ffffff;
            height: 12px;
            width: 12px;
            opacity: 0.5;
            transition: all 0.2s ease-in;
        }

        &.slick-active {
            button {
                opacity: 1;
                width: 58px;
            }
        }
    }

    @media (max-width: 767.98px) {
        grid-gap: 6px;
        gap: 6px;

        li {
            button {
                height: 8px;
                width: 8px;
            }
        }
    }
}

.slick-slide {
    outline: none !important;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media (min-width: 768px) {
    .wp-block-columns {
        flex-wrap: nowrap !important;
    }
}

.alignfull:not(.has-background) .wp-block-group__inner-container>p:not(.has-background-color) {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

@import "theme-styles/forms";
@import "theme-styles/footer";
@import "theme-styles/statistics";

// logo carousel
.logo-carousel-section {
    padding-top: 13px;
    padding-bottom: 14px;
    margin-top: 0px !important;

    .section-heading {
        margin-bottom: 0px;
    }

    .gb-layout-column-wrap {
        display: flex;
        align-items: center;
        column-gap: 22px;
    }

    .logo-carousel {
        overflow: hidden;
        position: relative;

        &:before,
        &:after {
            content: "";
            height: 100%;
            width: 28px;
            position: absolute;
            z-index: 1;
            top: 0;
        }

        &:before {
            left: 0;
            background: linear-gradient(90deg,
                    #ffffff 1.95%,
                    rgba(255, 255, 255, 0) 100.8%);
        }

        &:after {
            right: 0;
            background: linear-gradient(-90deg,
                    #ffffff 1.95%,
                    rgba(255, 255, 255, 0) 100.8%);
        }

        .slick-track {
            display: flex !important;
        }

        .slick-list {
            margin: 0 -10px;
        }

        .slick-slide {
            background-color: #fff;
            margin-bottom: 0px;
            margin: 0 10px;
            height: 94px !important;
            padding: 0px;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
    }

    @media (max-width: 991.98px) {
        padding-top: 0px;
        padding-bottom: 0px;

        .gb-layout-column-wrap {
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

        .section-heading {
            margin-bottom: 30px;
        }

        .logo-carousel {
            .slick-list {
                margin: 0 -2.5px;
            }

            .slick-slide {
                height: 87px !important;
                margin: 0 2.5px;
            }
        }
    }
}

// portfolio gallery slider
.portfolio-gallery-slider {
    .gallery-slide {
        .gallery-image {
            max-height: 526px;
            width: 100%;
            object-fit: cover;
        }
    }
}

// portfolio thumbnail carousel
.portfolio-thumbnail-carousel {
    .slick-track {
        margin-right: 0;
        width: 100% !important;
        transform: none !important;
        display: flex;
        justify-content: flex-end;
    }

    .slick-slide {
        margin: 0 8px;
    }

    .slick-list {
        margin: 0 -8px;
    }

    .thumbnail-slide {
        border: 2px solid transparent;
        box-sizing: border-box;
        width: 99px !important;
        height: 62px !important;
        transition: all 0.2s ease;

        .thumbnail-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &.slick-active:not(.slick-current) {
            position: relative;

            .thumbnail-image {
                opacity: 70%;
            }

            &:before {
                content: "";
                background: linear-gradient(0deg,
                        rgba(0, 0, 0, 0.2),
                        rgba(0, 0, 0, 0.2));
                opacity: 0.7;
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
            }
        }

        &.slick-current {
            border-color: #2471b5;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
    }

    @media (min-width: 768px) {
        .thumbnail-slide {
            &.slick-current {
                width: 103px !important;
                height: 64px !important;
            }
        }
    }

    @media (max-width: 767.98px) {
        .slick-track {
            display: flex;
            justify-content: flex-end;
        }

        .slick-slide {
            margin: 0 4px;
        }

        .slick-list {
            margin: 0 -4px;
        }

        .thumbnail-slide {
            width: 36px !important;
            height: 36px !important;
        }
    }
}

// testimonial slider
.testimonial-slider {
    margin-bottom: 40px;

    .wp-block-columns {
        margin-bottom: 0px;
        gap: 11px 25px;
    }

    .wp-block-group__inner-container {
        .testimonial {
            p {
                margin-bottom: 0px;
            }

            .gb-container-inside {
                background: #185a91;
                background-image: url(../images/coma.svg);
                background-repeat: no-repeat;
                background-position: calc(100% - 20px) 20px;
                background-size: 130px 99px;
            }

            .author-image {
                margin: 0px;
                height: 100%;
                display: flex;
                align-items: flex-end;
            }

            .left-panel {
                padding-left: 30px;
                padding-top: 15px;
            }

            .right-panel {
                padding: 40px 20px 40px 0px;
            }

            hr {
                border-color: #f48e0c;
                width: 93px;
                border-width: 4px;
                margin: 20px auto 30px 0px;
            }

            .author {
                display: grid;
                grid-template-columns: 74px 1fr;
                gap: 14px;
                grid-gap: 14px;

                .author-position {
                    margin-bottom: 4px;
                }

                .author-logo {
                    margin: 0;
                    background: #fff;
                    border-radius: 2px;
                    overflow: hidden;

                    img {
                        object-fit: contain;
                    }
                }
            }
        }
    }

    @media (min-width: 768px) {
        .wp-block-group__inner-container {
            .testimonial {
                .left-panel {
                    max-width: 207px;
                }

                .right-panel {
                    flex-basis: 55.623% !important;
                }
            }
        }
    }

    @media (max-width: 767.98px) {
        margin-bottom: 30px;

        .wp-block-group__inner-container {
            .testimonial {
                .left-panel {
                    padding: 0px;
                    padding-top: 6px;
                }

                .right-panel {
                    padding: 20px;
                    padding-bottom: 25px;
                }

                .author-image {
                    justify-content: center;
                    position: relative;
                    max-width: 120px;
                    margin: auto;

                    &:after {
                        content: "";
                        height: 1px;
                        width: 107.62px;
                        background-color: #1e65a3;
                        position: absolute;
                        bottom: 0px;
                    }
                }

                .gb-container-inside {
                    background-size: 63px 48px;
                }

                hr {
                    border-color: #76c8fb;
                    border-width: 1px;
                    width: 100%;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    max-width: 100%;
                }

                .author-position {
                    @include body(400);
                }

                .author-company {
                    @include label(600);
                }

                .author {
                    gap: 10px;
                    grid-gap: 10px;
                }
            }
        }
    }
}

// awards carousel
.awards-carousel {
    margin: 0px;
    gap: 20px !important;

    p {
        margin-bottom: 0px;
    }

    .award-image {
        margin-bottom: 10px;
    }

    .award-title {
        padding: 0px !important;
    }

    .slick-dots {
        li {
            button {
                background-color: #2471b5;
            }
        }
    }

    @media (max-width: 767.98px) {
        display: block !important;

        .slick-dots {
            margin-top: 30px;
            margin-bottom: 0px;
        }

        .award-image {
            border-radius: 6px;
            overflow: hidden;
            height: 120px;
            width: 120px;
            margin: 0px auto 10px;
        }

        .award-image,
        .award-title {
            transition: all 0.2s ease-in-out;
        }

        .award-slide-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 10px;
            padding-right: 10px;
        }

        .slick-slide {
            transform: scale(0.5);
            opacity: 0.5;
            transition: all 0.3s ease-in-out;

            .award-title {
                display: none;
                height: 67.2px;
            }

            .award-image {
                transform: translateY(-50px);
                transition: all 0.3s ease-in-out;
            }
        }

        .slick-slide,
        .slick-slide[aria-hidden="true"]:not(.slick-cloned)~.slick-cloned[aria-hidden="true"] {
            transform: scale(0.5, 0.5);
            opacity: 0.5;
            transition: all 0.3s ease-in-out;

            .award-title {
                display: none;
            }

            .award-image {
                transform: translateY(-50px);
                transition: all 0.3s ease-in-out;
            }
        }

        .slick-center,
        .slick-slide[aria-hidden="true"]:not([tabindex="-1"])+.slick-cloned[aria-hidden="true"] {
            transform: scale(1);
            opacity: 1;

            .award-title {
                display: block;
            }

            .award-image {
                transform: translateY(0);
            }
        }

        .slick-current.slick-active {
            transform: scale(1);
            opacity: 1;

            .award-title {
                display: block;
            }

            .award-image {
                transform: translateY(0);
            }
        }

        .slick-track {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@import "theme-styles/cards";

//Features list
.features-section {
    .features-list {
        margin-bottom: 0px;
        grid-gap: 20px 40px !important;
        gap: 0px 40px !important;
        margin-top: 54px;

        .icon {
            margin-bottom: 24px;

            img {
                width: 86px;
                height: 86px;
                object-fit: contain;
            }
        }

        .body-reg-400 {
            margin-bottom: 0px;
        }

        .feature {
            p {
                padding-left: 0px !important;
                padding-right: 0px !important;
            }
        }
    }

    @media (min-width: 768px) {
        .h3-semi-600 {
            max-width: 216px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    @media (max-width: 767.98px) {
        margin-bottom: 30px !important;

        .subheading {
            max-width: 319px;
            margin-left: auto;
            margin-right: auto;
        }

        .h2-600 {
            @include h3(600);
        }

        .h3-semi-600 {
            @include h4(600);
            margin-bottom: 6px;
        }

        .body-med-500 {
            @include body(400);
        }

        .features-list {
            margin-top: 10px;

            .feature {
                border-bottom: 1px solid #eeeeee;
                padding: 20px 0px;
                display: flex;
                grid-gap: 20px;

                &:last-child {
                    padding-bottom: 0px;
                    border-bottom: none;
                }

                .h3-600 {
                    @include h4(600);
                    margin-bottom: 8px;
                }

                .icon {
                    margin-bottom: 0px;
                    width: 46px;

                    img {
                        width: 46px;
                        height: 46px;
                    }
                }

                .wp-block-group {
                    width: calc(100% - 46px);

                    p {
                        text-align: left;
                    }
                }
            }
        }
    }
}

.featured-work-section {
    background: radial-gradient(95.76% 599.79% at 103.19% 38.83%,
            #2471b5 0.64%,
            #1d7ac9 10.15%,
            #1188e8 57.76%,
            #2471b5 79.68%,
            #2471b5 100%),
        linear-gradient(78.94deg, #76c8fb 0.52%, #2471b5 54.84%);
    padding-top: 60px;
    padding-bottom: 60px;

    .section-heading {
        margin-bottom: 0px;
    }

    .section-heading,
    .link-with-icon a {
        color: #ffffff;

        &:after {
            background-color: #ffffff;
        }
    }

    .link-with-icon svg path {
        stroke: #ffffff;
    }

    .wp-block-columns {
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0px;
        }
    }

    .link-with-icon {
        font-size: 16px;
    }

    @media (min-width: 768px) {
        margin-bottom: 60px !important;
    }

    @media (max-width: 1199.98px) {
        .link-with-icon {
            justify-content: center;
            margin-top: 30px;
            width: 100%;
        }
    }

    @media (max-width: 767.98px) {
        margin-bottom: 30px !important;
        padding-top: 30px;
        padding-bottom: 30px;

        .wp-block-columns {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
}

// process section
.process-section {
    margin-bottom: 85px;

    .section-heading {
        margin-bottom: 20px;
    }

    .section-columns {
        margin-top: 132px;
        margin-bottom: 0px;
        border: 1px solid #eeeeee;
        position: relative;
    }

    @media (max-width: 991.98px) {
        margin-top: 40px !important;
        margin-bottom: 40px !important;

        .subheading {
            max-width: 211px;
            margin: 0px auto 30px;
            @include body(400);
        }

        .section-columns {
            margin-top: 30px;
            border: none;
        }
    }

    @media (min-width: 992px) {
        .section-columns {
            max-width: calc(100% - 118px);

            .hide-lg-down {
                display: flex;
                align-items: center;
            }
        }

        .popout-image {
            margin: 0px;
            position: absolute;
            right: -73px;
            top: -80px;
            max-width: 618px;
        }
    }

    @media (max-width: 1250px) {
        .popout-image {
            right: -15%;
            max-width: 65%;
        }
    }

    @media (max-width: 1061px) {
        .popout-image {
            max-width: 70%;
            top: -5%;
        }
    }
}

//CTA
.text-cta {
    .has-bg {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .wp-block-columns {
        margin-bottom: 0px;
    }

    @media (min-width: 768px) {
        margin-top: 60px !important;
    }

    @media (max-width: 767.98px) {
        margin-top: 30px !important;

        .dd-button {
            a {
                @include dd-button-mobile;
            }
        }

        .wp-block-columns {
            grid-gap: 30px;
            gap: 30px;
        }
    }
}

//image CTA
.image-cta {
    .has-bg {
        color: $light;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-bottom: 0px;
    }

    .wp-block-columns {
        grid-gap: 45px;
        gap: 45px;

        @media (min-width: 768px) {
            &:first-child {
                padding-left: 40px;
            }

            &:last-child {
                padding-right: 20px;
            }
        }
    }

    @media (min-width: 768px) {
        margin-top: 180px !important;

        .overflow-image {
            margin-top: -113px;
            margin-bottom: -64px !important;
            max-width: 535px;
        }
    }

    @media (max-width: 767.98px) {
        .gradient-bg-2 {
            padding: 30px 20px 20px;
        }

        .overflow-image {
            text-align: center;
        }

        .wp-block-columns {
            grid-gap: 20px;
            gap: 20px;
        }

        .h2-semi-600 {
            margin-bottom: 10px !important;
            @include h3(600);
            max-width: 214px;
        }

        .body-400 {
            @include label(500);
        }
    }

    @media (max-width: 575.98px) {
        .h2-600 {
            max-width: 214px;
        }

        .dd-button {
            a {
                @include dd-button-mobile;
            }
        }
    }
}

// featured videos section
.featured-videos-section {
    .video-list {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    @media (max-width: 767.98px) {
        .video-list {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
}

// testimonial section
.testimonial-section {
    padding-top: 60px;
    padding-bottom: 60px;

    .dd-slider-arrow {
        &.dd-prev {
            left: -92px;
        }

        &.dd-next {
            right: -92px;
        }
    }

    @media (min-width: 768px) {
        .testimonial-slider {
            max-width: calc(100% - 184px);
            margin-left: auto;
            margin-right: auto;
        }
    }

    @media (max-width: 767.98px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

// image CTA
.bg-image-cta {
    .alignwide {
        .alignwide {
            padding: 50px;
            margin-bottom: 0px;

            .dd-button {
                margin-top: 0px !important;
            }
        }
    }

    p {
        text-transform: capitalize;
    }

    @media (max-width: 767.98px) {
        .alignwide {
            .alignwide {
                padding: 60px 20px 40px;
                gap: 30px;
            }
        }

        .gb-background-cover {
            background-position: 70% center;
            background-size: cover;
        }

        .h2-semi-600 {
            @include h3(600);
        }
    }
}

// Awards sections
.awards-section {
    .secondary-heading {
        margin-bottom: 0px;
    }

    .section-heading {
        margin-bottom: 16px;
    }

    .subheading {
        max-width: 730px;
        margin: 0px auto 54px;
    }

    @media (max-width: 767.98px) {
        .secondary-heading {
            margin-bottom: 10px;
        }

        .section-heading {
            margin-bottom: 20px;
        }

        .subheading {
            margin-bottom: 60px;
        }
    }
}

@import "theme-styles/popups";