@import 'theme-styles/header';
@import 'theme-styles/hero-slider';

body {
  font-family: "Montserrat";
}
a {
  outline: none !important;
}
.site-inner {
  @media only screen and (min-width: 1300px) {
    max-width: 1220px;
  }
}
